
{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teacher-dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'quiz-view' %}">Quizzes</a></li>
        <li class="breadcrumb-item"><a href="{% url 'quiz-edit' quiz.pk%}">{{ quiz.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Select Questions</li>
      </ol>
    </nav>
    <h2 class="mb-3">{{quiz.title}}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Question</th>
              <th>Author</th>
              <th>Answers</th>
              <th>Add</th>
            </tr>
          </thead>
          {% for error in formset.non_form_errors %}
            <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
          {% endfor %}
          <tbody>
            {% for add_question in add_questions %}
              <tr>
                <td class="align-middle">
                    <a href="{% url 'question-edit' add_question.question.pk%}">{{ add_question.question.text }}</a>
                </td>
                <td class="align-middle">
                    {{ add_question.question.author }}
                </td>
                <td class="align-middle">
                    {% for answer in add_question.answers%}
                    {% if answer.is_correct %}
                        <strong class="text-success">{{answer.text}}</strong>
                    {% else %}
                        <strong class="text-danger">{{answer.text}}</strong>
                    {% endif %}
                    <br>
                    {% endfor %}
                </td>
                <td class="align-middle">
                  <input type="checkbox" name = "{{add_question.question.pk}}" value="{{add_question.question}}">
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="bg-light text-center font-italic" colspan="5">There are no questions yet. Go ahead and <a href="{% url 'question-add' %}">create the first question</a>.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-success">Add Question(s)</button>
      <a href="javascript:history.back(-1)" class="btn btn-outline-secondary" role="button">Nevermind</a>
    </form>
</div>
{% endblock %}
