{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teacher-dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'question-view' %}">Questions</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ question.text }}</li>
      </ol>
    </nav>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ formset.management_form }}
      {{ form|crispy }}
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Answers</th>
              <th>Correct?</th>
              {% if question.author == user %}
              <th>Delete?</th>
              {% endif %}
            </tr>
          </thead>
          {% for error in formset.non_form_errors %}
            <div class="card-body bg-danger border-danger text-white py-2">{{ error }}</div>
          {% endfor %}
          <tbody>
            {% for form in formset %}
              <tr>
                <td class="align-middle">
                  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                  {{ form.text|as_crispy_field }}
                  {% if form.instance.pk and form.text.value != form.instance.text %}<p class="mb-0 mt-1"><small class="text-muted font-italic"><strong>Old answer:</strong> {{ form.instance.text }}</small></p>{% endif %}
                </td>
                <td class="align-middle">{{ form.is_correct }}</td>
                {% if question.author == user %}
                <td class="align-middle">
                  {% if form.instance.pk %}
                    {{ form.DELETE }}
                  {% endif %}
                </td>
                {% endif %}
              </tr>
            {% empty %}
              <tr>
                <td class="bg-light text-center font-italic" colspan="5">There are no questions yet. Go ahead and <a href="{% url 'question-add' %}">create the first question</a>.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if question.author == user %}
      <button type="submit" class="btn btn-success">Save changes</button>
      <a href="{% url 'teacher-dashboard' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
      <a href="#" class="btn btn-danger float-right">Delete Question</a>
      {% endif %}
    </form>
</div>
{% endblock %}
