{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'teacher-dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'quiz-view' %}">Quizzes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ quiz.title }}</li>
      </ol>
    </nav>
    <div class="row mb-3">
      <div class="col-md-6 col-sm-8 col-12">
        <p><strong>Author: </strong>{{ quiz.author}}</p>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          {% if quiz.author == user.teacher %}
          <div class="row">
            <div class="col-xl-3 mb-3">
              <button type="submit" class="btn btn-success">Save changes</button>
            </div>
            <div class="col-xl-3  mb-3">
              <a href="javascript:history.back(-1)" class="btn btn-outline-secondary" role="button">Nevermind</a>
            </div>
            <div class="col-xl-3">
            </div>
            <div class="col-xl-3 mb-3">
              <a href="{% url 'quiz-delete' quiz.pk %}" class="btn btn-danger">Delete Quiz</a>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {% if quiz.author == user.teacher %}
        <a href="{% url 'quiz-assign' quiz.pk %}" class="btn btn-primary float-right">Assign Quiz</a><br><br>
        {% endif %}
        <a href="#" class="btn btn-info float-right">View results</a>
      </div>  
    </div>
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Question</th>
            <th>Author</th>
            <th>Answers</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for q in questions %}
          <tr>
            <td class="align-middle"><a href="{% url 'question-edit' q.question.pk %}">{{ q.question.text }}</a></td>
            <td class="align-middle">{{ q.question.author }}</td>
            <td class="align-middle">{{ q.answer_count }}</td>
            {% if q.question.author == user.teacher %}
            <td class="align-middle">
              <a href="{% url 'question-edit' q.question.pk %}" class="btn btn-warning">Edit Question</a>
            </td>
            {% else %}
            <td class="align-middle">
            </td>
            {% endif %}
            {% if quiz.author == user.teacher %}
            <td class="align-middle">
              <a href="{% url 'question-remove' quiz.pk q.pk  %}" class="btn btn-danger">Remove Question</a>
            </td>
            {% else %}
            <td class="align-middle">
            </td>
            {% endif %}
          </tr>
          {% empty %}
            <tr>
              <td class="bg-light text-center font-italic" colspan="5">There are no questions in this quiz yet. {% if quiz.author == user.teacher %}Go ahead and <a href="{% url 'quiz-select' quiz.pk %}">add the first question</a>.{% endif %}</td>
            </tr>
          {% endfor %}
          {% if quiz.author == user.teacher %}
          <tr>
            <td class="bg-light text-center" colspan="5"><a href="{% url 'quiz-select' quiz.pk %}" class="btn btn-success btn-circle btn-sm">+</a></td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
