{% extends "dashboard/base.html" %}
{% block content %}
<div class="content-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
  <h2 class="mb-3">Dashboard</h2>
  <a href="{% url 'quiz-add' %}" class="btn btn-success mb-3" role="button">Add quiz</a>
  <a href="{% url 'quiz-view' %}" class="btn btn-primary mb-3" role="button">View all quizzes</a>
  <a href="{% url 'question-add' %}" class="btn btn-success mb-3" role="button">Create question</a>
  <a href="{% url 'question-view' %}" class="btn btn-primary mb-3" role="button">View all questions</a>
  <br><br>
  <div class="table-responsive">
    <h4 class="mb-3">My Quizzes</h4>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Description</th>
          <th>Questions</th>
          <th>Assigned</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle"><a href="{% url 'quiz-edit' quiz.pk %}">{{ quiz.title }}</a></td>
            <td class="align-middle overflowing">{{ quiz.description }}</td>
            <td class="align-middle">{{ quiz.questions_count }}</td>
            <td class="align-middle">{{ quiz.assigned_count }}</td>
            <td class="align-middle">
              <a href="#" class="btn btn-info">View results</a>
            </td>
            <td class="align-middle">
              <a href="{% url 'quiz-edit' quiz.pk %}" class="btn btn-warning">Edit Quiz</a>
            </td>
            <td class="align-middle">
              <a href="{% url 'quiz-delete' quiz.pk %}" class="btn btn-danger">Delete Quiz</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quizzes yet. Go ahead and <a href="{% url 'quiz-add' %}">add your first quiz</a>.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <div class="table-responsive">
    <h4 class="mb-3">My Questions</h4>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Question</th>
          <th>Answers</th>
          <th>Quizzes</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td class="align-middle"><a href="{% url 'question-edit' question.pk %}">{{ question.text }}</a></td>
            <td class="align-middle">{{ question.answer_count }}</td>
            <td class="align-middle">{{ question.selected_count }}</td>
            <td class="align-middle">
              <a href="{% url 'question-edit' question.pk %}" class="btn btn-warning">Edit Question</a>
            </td>
            <td class="align-middle">
              <a href="{% url 'question-delete' question.pk %}" class="btn btn-danger">Delete Question</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any questions yet. Go ahead and <a href="{% url 'question-add' %}">create your first question</a>.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}